<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.spring.spring_base.demo.dao.batch.write.UserBatchDao">
    <insert id="batchInsertUser">
        INSERT INTO `user` (`name`,age) VALUES (#{userEntity.name},#{userEntity.age})
    </insert>
</mapper>